# https://git-scm.com/docs/gitignore

# Node.js dependencies
/node_modules/

# Sanity
/.sanity
/dist

# Sanity TypeGen (https://www.sanity.io/docs/apis-and-sdks/sanity-typegen)
/sanity.types.ts
/schema.json

# TypeScript
/tsconfig.tsbuildinfo
